# Xcode
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
DerivedData/
build/
*.o
*.d
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
Pods/
Podfile.lock

# SPM
.build/
*.resolved

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Playgrounds
timeline.xctimeline
playground.xcworkspace
